@font-face {
    font-family: digital;
    src: url(../FONTS/digital-7.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(33,115,130,1) 1.4%, #23277c 90% );
    color: #FFF;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    width: 550px;
    height: 95vh;
    border-radius: 20px;
    border: 1px solid #FFF;
    background-color: #F43674;
    padding: 20px;
    margin: 20px 0;
}

.encabezado{
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.encabezado__titulo{
    font-size: 2rem;
}

.encabezado__logo{
    width: 100px;
}

.pantalla{
    padding-top: 30px;
}

.pantalla__input{
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid #000;
    color: #000;
    font-family: "digital", Arial, Helvetica, sans-serif;
    font-size: 5em;
    text-align: right;
}

.superiores{
    /* padding: 50px 0; */
    height: 130px;
    
    display: flex;
    justify-content: space-around;   
}


.superiores__btnOval{
    width: 70px;
    height: 40px;
    border-radius: 50%;
    margin: auto 0;
    font-size: 1.2em;
    background-color: #ffff00;
    border: 2px solid #000;
    cursor: pointer;
}

.superiores__btnOval:hover{
    background-color: #bbbb00;
}

.superiores__btnCircle{
    width: 80px;
    height: 80px;
    border: 3px solid #000;
    border-radius: 50%;
    margin: auto 0;
    font-size: 1.2em;
    background-color: #01BEE7;
    border: 2px solid #000;
    cursor: pointer;
}

.superiores__btnCircle:hover{
    background-color: #00a8ce;
}

.btnClear{
    width: 90%; 
    height: 80px;
    border-radius: 10px;
    font-size: 2em;
    background-color: #01BEE7;
}

.btnClear:hover{
    background-color: #00a8ce;
    cursor: pointer;
}

.inferiores{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.inferiores__btn {
    width: 90%; 
    height: 80px;
    border-radius: 10px;
    font-size: 2em;
    background-color: #FFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inferiores__btn:hover {
        background-color: #dfdfdf;
        cursor: pointer;
}

.btnMas{
    width: 90%;
    height: 170px;
    grid-row: span 2;
    background-color: #f76c6c;
    border-radius: 10px;
    font-size: 2em;
    background-color: #01BEE7;
    border: none;
    cursor: pointer;
}

.btnMas:hover{
    background-color: #00a8ce;
}


